/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and general styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header .logo img {
    width: 150px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Pages */
.page {
    display: none;
}

.page.active {
    display: block;
}

/* Hero Section */
.hero {
    background-image: url('hero.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
#main-content{
    background-image: url('https://plus.unsplash.com/premium_photo-1661883237884-263e8de8869b?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fHJlc3RhdXJhbnR8ZW58MHx8MHx8fDA%3D');
    height: 600px;
    object-fit: contain;
}
.cta-button {
    background-color: #ff6347;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #ff4500;
}

/* Menu Section */
.menu {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
}

.menu h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.menu-category {
    margin-bottom: 40px;
}

.menu-category h3 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.menu-item {
    display: inline-block;
    width: 300px;
    margin: 0 20px;
    text-align: left;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.menu-item h4 {
    font-size: 1.5rem;
    margin-top: 10px;
}

.menu-item p {
    font-size: 1rem;
    color: #555;
}

.price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ff6347;
    margin-top: 10px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer .social-media a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer .social-media a:hover {
    text-decoration: underline;
}